<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

  <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.url}"
        p:username="${jdbc.username}"
        p:password="${jdbc.password}" />

        <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
                <property name="dataSource" ref="dataSource"/>
                <property name="mappingResources">
                        <list>
                        </list>
                </property>
                <property name="hibernateProperties">
                        <value>hibernate.dialect=org.hibernate.dialect.MySQLDialect</value>
                </property>
        </bean>
        
        <bean id="ebaySellerLoginAction" class="com.hackathon.action.EbaySellerLoginAction"></bean>
        <bean id="getSoldItemsAction" class="com.hackathon.action.GetSoldItemsAction"></bean>
        <bean id="completeSaleAction" class="com.hackathon.action.CompleteSaleAction"></bean>
        <bean id="getCompleteSaleFormAction" class="com.hackathon.action.GetCompleteSaleFormAction"/>
        <bean id="autoFeedbackAction" class="com.hackathon.action.AutoFeedbackAction"></bean>
        <bean id="getTokenUserAction" class="com.hackathon.action.GetTokenUserAction"></bean>
        <bean id="showAllItemsAction" class="com.hackathon.action.ShowAllItemsAction"></bean>
        <bean id="showActiveItemsAction" class="com.hackathon.action.ShowActiveItemsAction"></bean>
        <bean id="showItemAction" class="com.hackathon.action.ShowItemAction"></bean>
        <bean id="addItemAction" class="com.hackathon.action.AddItemAction"></bean>
        <bean id="showMyMessagesAction" class="com.hackathon.action.ShowMyMessagesAction"></bean>
        <bean id="respondMessageAction" class="com.hackathon.action.RespondMessageAction"></bean>
</beans>
